.faq-accordion-custom {
 display: flex;
 gap: 2rem;
 align-items: flex-start;
}
.faq-accordion-custom .left-container {
    flex: 1 1 50%;
}
.faq-accordion-custom .right-container {
    flex: 1 1 50%;
}
.faq-accordion-custom .btn-box {
  /* margin-top: 2.5rem;
  padding: 2.5rem;
  border-radius: 15px; */
  max-width: 48rem;
}
.faq-accordion-custom .heading {
    margin-block: 0 3.5rem;
    /* edited font-size: 48px; */
    max-width: 48rem;
}
.faq-accordion-custom .box-caption {
  font-family: var(--font-body-family);
  margin-block: 0 1rem;
}
.faq-accordion-custom .box-desc {
  margin-block: 0 2rem;
}
.faq-accordion-custom .get-in-touch-btn {
  font-size: 1.6rem;
  text-align: center;
}
.faq-accordion-custom .custom-accordions-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.faq-accordion-custom .accordion-item {
    overflow: hidden;
    background: whitesmoke;
    border-radius: 23px;
    margin-bottom: 1.2rem;
    /* padding: 2.3rem 4.1rem; edited */
    padding: 3rem;
}
.faq-accordion-custom .quest-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  padding: 0;
  cursor: pointer;
}
.faq-accordion-custom .quest {
  font-size: 2.2rem;
  margin: 0;
  flex: 1;
  font-weight: 500;
}
.accordion-item.active svg {
    transform: rotate(270deg);
    transition: transform 0.3s ease-in-out;
}
.accordion-item svg {
    transition: transform 0.3s ease-in-out;
    width:3rem;
    transform: rotate(90deg);
}
.faq-accordion-custom .ans-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faq-accordion-custom .ans-inner {
  max-width: 75rem;
  padding: 1.5rem 0;
}
.faq-accordion-custom .ans-inner p {
  margin: 0;
}
.faq-accordion-custom .accordion-icon {
  transition: transform 0.3s ease;
  flex-shrink: 0;
  width: 3.2rem;
  margin-left: 15px;
}
.faq-accordion-custom .accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}
.disclaimer{
  font-size:10px;
}

@media (max-width: 990px) {
.faq-accordion-custom {
    flex-direction: column;
}
}
@media (max-width: 749px) {
  .faq-accordion-custom .left-container {
    flex: 100%;
  }
  .faq-accordion-custom .right-container {
    flex: 100%;
  }
  .faq-accordion-custom .accordion-item{
    padding: 1rem 2rem;
  }
  .faq-accordion-custom .heading {
    margin-block: 0 2rem;
  }
  .faq-accordion-custom .accordion-icon {
    width: 2.5rem;
  }
  .faq-accordion-custom .quest {
    font-size: 1.6rem;
  }
  .faq-accordion-custom .quest-wrapper {
    padding-block: 1.5rem;
  }
  .faq-accordion-custom .ans-inner {
    padding: 0 15px 15px 0;
  }
  .faq-accordion-custom .box-desc {
    margin-block: 0 1.5rem;
  }
  .faq-accordion-custom .get-in-touch-btn {
    font-size: 1.5rem;
    padding-inline: 2.5rem;
  }
}